.top{
	background: url("assets/backgrounds/h_img.jpg");
	position: relative;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  text-align: center;
  color: white;
  padding-top: 14%;
  padding-bottom: 2%;}

.sectionOne{
	padding: 30px;
	margin: 20px;
	text-align: center;
}

.sectionTwo{
	background: url("assets/backgrounds/s_image.jpg");
	background-position: center;
	text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

.sectionThree{
	margin-bottom: 50px;
	margin-left: 55px;
}

.sectionThree h1{
	padding: 10px 0px 10px 0px;	
	text-align: center;
}

.txt1{
	display: none;
	color: red;
}

.txt2{
	display: none;
	color: green;
}

.txt3{
	display: none;
	color: blue;
}

.sectionThree .col-md-4{
	padding: 20px;
	width: 100%;
}

.sectionThree .col-md-4 p{
	padding: 10px;
	margin: 10px;
}

.sectionThree .col-md-4{
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.port{
	text-align: center;
}

.footer{
	background-image: url("assets/backgrounds/c_image.jpg");
	
}

.footer h3{
	padding: 30px;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

.contact{
	margin-left: 250px;
}

input::placeholder{
	color: white;
}

.footer input{
	background-color: transparent;
	color: white;
	padding: 3px;
	margin-top: 25px;
	margin-right: 200px;
	width: 300px;
}

#textArea{
	color: white;
	padding-bottom: 200px;
	width: 800px;
}

.submitBtn{
	margin: 30px 0px 20px 0px;
	padding: 10px;
	background-color: transparent;
	color: white;
	transition: background-color 0.5s ease-out;
}

.submitBtn:hover{
	margin: 30px 0px 20px 0px;
	padding: 10px;
  background-color: white;
  color: black;
	transition: all 0.5s ease-in;
}

#output{
	text-align: center;
	display: none;
	background-color: black;
	color: white;
	padding: 5px;
	margin: 0px 50px 0px 50px;
}

.socialLinks {
	margin: 50px 30% 10px 30%;
}

.socialLinks p{
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
	font-weight: bold;
}